@charset "UTF-8";

/* typical device breakpoints */


@media print {

}

@media screen and (max-width: 600px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#smartphone { display: none;}
    img#tablet { display: none;}
    img#impressao { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
   
    img#smartphone { display: none;}
    img#tablet { display: none;}
    img#impressao { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }  
    img#smartphone { display: none;}
    img#tablet { display: none;}
    img#impressao { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
    
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-print.jpg);
    }
    img#smartphone { display: none;}
    img#tablet { display: none;}
    img#impressao { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}